In [58]:
import pandas as pd
import numpy as np 
from arcgis.gis import GIS
from getpass import getpass
from arcgis.geocoding import batch_geocode
import csv

In [59]:
api_key = "AIzaSyDiuEDivm4tp6kRQxyYkB7CdKaNXbnO6as"

In [60]:
df = pd.DataFrame(pd.read_excel(r"D:\Desktop\pincode.xlsx"))

In [61]:
df

        pincode
0        504273
1        504293
2        504307
3        504001
4        504001
...         ...
154792   721649
154793   721151
154794   721626
154795   721139
154796   721648

[154797 rows x 1 columns]

In [62]:
Coordinates = df["pincode"].tolist()

In [63]:
Coordinates

[504273,
 504293,
 504307,
 504001,
 504001,
 504251,
 504273,
 504251,
 504309,
 504201,
 504110,
 504202,
 504296,
 504231,
 504109,
 504201,
 504299,
 504002,
 504201,
 504204,
 504312,
 504313,
 504101,
 504293,
 504201,
 504204,
 504293,
 504299,
 504205,
 504203,
 504295,
 504106,
 504306,
 504299,
 504296,
 504101,
 504304,
 504203,
 504299,
 504309,
 504202,
 504251,
 504251,
 504103,
 504001,
 504103,
 504308,
 504204,
 504311,
 504002,
 504273,
 504103,
 504103,
 504001,
 504304,
 504273,
 504101,
 504311,
 504306,
 504304,
 504273,
 504101,
 504307,
 504110,
 504272,
 504101,
 504251,
 504251,
 504323,
 504293,
 504272,
 504002,
 504215,
 504311,
 504309,
 504103,
 504296,
 504346,
 504103,
 504110,
 504002,
 504201,
 504296,
 504205,
 504299,
 504299,
 504304,
 504310,
 504294,
 504306,
 504202,
 504103,
 504313,
 504302,
 504002,
 504299,
 504206,
 504311,
 504346,
 504002,
 504001,
 504202,
 504309,
 504304,
 504273,
 504102,
 504294,
 504293,
 504308,
 504218,
 504201,
 504311,
 504313,
 504110,
 504304,
 504346,
 504205,
 504231,
 504299,
 504203,
 504306,
 504299,
 504310,
 504103,
 504207,
 504215,
 504201,
 504206,
 504272,
 504296,
 504296,
 504307,
 504102,
 504102,
 504209,
 504104,
 504311,
 504001,
 504292,
 504304,
 504311,
 504309,
 504297,
 504346,
 504307,
 504307,
 504219,
 504304,
 504207,
 504292,
 504312,
 504110,
 504346,
 504323,
 504293,
 504208,
 504309,
 504311,
 504215,
 504299,
 504308,
 504273,
 504299,
 504109,
 504309,
 504299,
 504306,
 504293,
 504311,
 504251,
 504308,
 504299,
 504346,
 504296,
 504311,
 504273,
 504207,
 504299,
 504205,
 504216,
 504346,
 504295,
 504106,
 504296,
 504215,
 504273,
 504309,
 504313,
 504216,
 504251,
 504110,
 504313,
 504251,
 504207,
 504214,
 504205,
 504304,
 504102,
 504312,
 504219,
 504105,
 504205,
 504109,
 504306,
 504273,
 504231,
 504310,
 504102,
 504002,
 504313,
 504219,
 504101,
 504297,
 504219,
 504293,
 504312,
 504312,
 504304,
 504299,
 504273,
 504207,
 504106,
 504231,
 504293,
 504346,
 504311,
 504292,
 504295,
 504203,
 504295,
 504002,
 504309,
 504101,
 504204,
 504216,
 504205,
 504307,
 504308,
 504201,
 504102,
 504201,
 504292,
 504309,
 504323,
 504310,
 504215,
 504312,
 504214,
 504103,
 504311,
 504273,
 504304,
 504106,
 504110,
 504299,
 504103,
 504105,
 504304,
 504312,
 504323,
 504216,
 504109,
 504219,
 504301,
 504214,
 504309,
 504311,
 504106,
 504207,
 504109,
 504202,
 504206,
 504313,
 504312,
 504104,
 504299,
 504215,
 504296,
 504105,
 504220,
 504206,
 504204,
 504202,
 504103,
 504313,
 504103,
 504110,
 504103,
 504214,
 504106,
 504273,
 504307,
 504310,
 504204,
 504206,
 504313,
 504208,
 504209,
 504208,
 504231,
 504231,
 504203,
 504297,
 504297,
 504106,
 504311,
 504104,
 504304,
 504313,
 504299,
 504002,
 504310,
 504219,
 504251,
 504216,
 504215,
 504293,
 504299,
 504297,
 504299,
 504296,
 504293,
 504102,
 504306,
 504307,
 504209,
 504214,
 504205,
 504202,
 504299,
 504346,
 504308,
 504299,
 504219,
 504203,
 504311,
 504311,
 504201,
 504214,
 504292,
 504207,
 504214,
 504292,
 504311,
 504307,
 504346,
 504104,
 504204,
 504302,
 504106,
 504292,
 504214,
 504219,
 504323,
 504313,
 504104,
 504103,
 504309,
 504106,
 504109,
 504296,
 504311,
 504299,
 504105,
 504308,
 504104,
 504313,
 504297,
 504299,
 504103,
 504304,
 504299,
 504310,
 504201,
 504105,
 504208,
 504203,
 504304,
 504311,
 504207,
 504206,
 504202,
 504105,
 504216,
 504203,
 504296,
 504309,
 504109,
 504251,
 504313,
 504002,
 504312,
 504346,
 504307,
 504304,
 504002,
 504201,
 504251,
 504310,
 504205,
 504110,
 504216,
 504002,
 504307,
 504216,
 504346,
 504103,
 504102,
 504205,
 504207,
 504104,
 504310,
 504104,
 504002,
 504301,
 504306,
 504307,
 504313,
 504296,
 504106,
 504215,
 504219,
 504299,
 504292,
 504273,
 504272,
 504202,
 504107,
 504297,
 504296,
 504312,
 504002,
 504346,
 504311,
 504309,
 504296,
 504110,
 504203,
 504309,
 504103,
 504346,
 504308,
 504251,
 504216,
 504313,
 504105,
 504302,
 504307,
 504306,
 504307,
 504299,
 504313,
 504296,
 504201,
 504309,
 504308,
 504105,
 504307,
 504251,
 504201,
 504304,
 504103,
 504303,
 504001,
 504204,
 504312,
 504109,
 504293,
 504203,
 504311,
 504307,
 504312,
 504206,
 504299,
 504312,
 504310,
 504272,
 504002,
 504102,
 504206,
 504323,
 504216,
 504307,
 504109,
 504209,
 504297,
 504308,
 504002,
 504294,
 504296,
 504205,
 504294,
 504346,
 504313,
 504215,
 504214,
 504296,
 504209,
 504110,
 504106,
 504219,
 504206,
 504215,
 504106,
 504323,
 504346,
 504308,
 504323,
 504295,
 504251,
 504216,
 504002,
 504102,
 504106,
 504293,
 504101,
 504105,
 504346,
 506144,
 506343,
 506145,
 506169,
 506355,
 506366,
 506172,
 506342,
 506224,
 506223,
 506221,
 506224,
 506371,
 506352,
 506367,
 506303,
 506223,
 506244,
 506342,
 506169,
 506224,
 506343,
 506244,
 506003,
 506344,
 506345,
 506367,
 506003,
 506015,
 506169,
 506367,
 506347,
 506349,
 506252,
 506172,
 506172,
 506172,
 506221,
 506345,
 506344,
 506165,
 506301,
 506170,
 506356,
 506344,
 506303,
 506165,
 506168,
 506319,
 506391,
 506172,
 506145,
 506221,
 506223,
 506165,
 506319,
 506144,
 506015,
 506223,
 506175,
 506355,
 506356,
 506342,
 506391,
 506172,
 506011,
 506221,
 506348,
 506355,
 506352,
 506370,
 506302,
 506371,
 506144,
 506302,
 506367,
 506345,
 506142,
 506367,
 506172,
 506223,
 506349,
 506356,
 506344,
 506356,
 506165,
 506165,
 506301,
 506244,
 506004,
 506244,
 506367,
 506221,
 506344,
 506348,
 506175,
 506356,
 506143,
 506319,
 506345,
 506143,
 506169,
 506302,
 506170,
 506168,
 506301,
 506344,
 506252,
 506201,
 506168,
 506165,
 506223,
 506355,
 506145,
 506001,
 506175,
 506371,
 506319,
 506244,
 506165,
 506343,
 506352,
 506252,
 506244,
 506366,
 506221,
 506170,
 506348,
 506343,
 506343,
 506367,
 506151,
 506352,
 506175,
 506167,
 506371,
 506201,
 506169,
 506356,
 506015,
 506302,
 506223,
 506003,
 506347,
 506201,
 506172,
 506344,
 506302,
 506319,
 506244,
 506348,
 506352,
 506391,
 506347,
 506352,
 506344,
 506172,
 506224,
 506349,
 506003,
 506343,
 506221,
 506348,
 506221,
 506303,
 506303,
 506244,
 506355,
 506172,
 506168,
 506165,
 506003,
 506367,
 506145,
 506345,
 506221,
 506367,
 506319,
 506319,
 506170,
 506301,
 506303,
 506348,
 506352,
 506391,
 506301,
 506170,
 506356,
 506303,
 506143,
 506252,
 506151,
 506224,
 506347,
 506001,
 506302,
 506168,
 506345,
 506342,
 506348,
 506347,
 506201,
 506223,
 506145,
 506367,
 506344,
 506343,
 506367,
 506302,
 506142,
 506371,
 506348,
 506003,
 506145,
 506349,
 506151,
 506172,
 506244,
 506244,
 506172,
 506175,
 506224,
 506355,
 506303,
 506301,
 506244,
 506366,
 506366,
 506349,
 506302,
 506366,
 506015,
 506349,
 506003,
 506366,
 506343,
 506165,
 506142,
 506224,
 506342,
 506345,
 506391,
 506223,
 506169,
 506391,
 506371,
 506221,
 506009,
 506170,
 506349,
 506345,
 506142,
 506244,
 506347,
 506391,
 506175,
 506223,
 506391,
 506224,
 506343,
 506344,
 506172,
 506144,
 506356,
 506342,
 506303,
 506175,
 506143,
 506349,
 506244,
 506303,
 506221,
 506347,
 506342,
 506223,
 506252,
 506165,
 506144,
 506344,
 506143,
 506349,
 506356,
 506164,
 506366,
 506342,
 506201,
 506347,
 506319,
 506352,
 506319,
 506366,
 506175,
 506151,
 506342,
 506168,
 506221,
 506145,
 506015,
 506371,
 506201,
 506366,
 506221,
 506172,
 506355,
 506223,
 506366,
 506391,
 506345,
 506342,
 506244,
 506004,
 506344,
 506301,
 506356,
 506244,
 506143,
 506391,
 506165,
 506144,
 506172,
 506221,
 506349,
 506172,
 506356,
 506172,
 506165,
 506348,
 506345,
 506303,
 506151,
 506347,
 506223,
 506348,
 506344,
 506349,
 506366,
 506347,
 506367,
 506011,
 506348,
 506349,
 506348,
 506348,
 506165,
 506349,
 506142,
 506224,
 506223,
 506252,
 506352,
 506302,
 506371,
 506165,
 506142,
 506175,
 506349,
 506302,
 506319,
 506165,
 506143,
 506151,
 506201,
 506303,
 506201,
 506367,
 506145,
 506001,
 506348,
 506355,
 506344,
 506319,
 506221,
 506143,
 506003,
 506151,
 506301,
 506143,
 506003,
 506356,
 506143,
 506224,
 506172,
 506143,
 506345,
 506348,
 506356,
 506302,
 506165,
 506370,
 506143,
 506175,
 506170,
 506367,
 506391,
 506223,
 506224,
 506142,
 506221,
 506244,
 506391,
 506366,
 506145,
 506352,
 506366,
 506003,
 506356,
 506145,
 506009,
 506143,
 506172,
 506370,
 506303,
 506303,
 506303,
 506142,
 506201,
 506371,
 506175,
 506175,
 506175,
 505445,
 505305,
 505532,
 505330,
 505531,
 505466,
 505527,
 505460,
 505305,
 505526,
 505306,
 505450,
 505402,
 505524,
 505402,
 505469,
 505302,
 505466,
 505455,
 505001,
 505452,
 505415,
 505529,
 505401,
 505325,
 505526,
 505405,
 505403,
 505452,
 505303,
 505404,
 505403,
 505405,
 505473,
 505532,
 505403,
 505454,
 505528,
 505453,
 505415,
 505460,
 505462,
 505524,
 505001,
 505306,
 505301,
 505460,
 505454,
 505415,
 505532,
 505301,
 505403,
 505325,
 505473,
 505402,
 505001,
 505302,
 505404,
 505455,
 505469,
 505501,
 505467,
 ...]

In [64]:
df_test = df.copy()

In [65]:
df_test

        pincode
0        504273
1        504293
2        504307
3        504001
4        504001
...         ...
154792   721649
154793   721151
154794   721626
154795   721139
154796   721648

[154797 rows x 1 columns]

In [66]:
df_add = pd.DataFrame(pd.read_excel(r"D:\Desktop\Addresses.xlsx")) 
df_add

                                                  Address
0            504273, Asifabad, Adilabad, TELANGANA, India
1            504293, Asifabad, Adilabad, TELANGANA, India
2               504307, Boath, Adilabad, TELANGANA, India
3            504001, Adilabad, Adilabad, TELANGANA, India
4            504001, Adilabad, Adilabad, TELANGANA, India
...                                                   ...
146478  721649, Nandakumar, East Midnapore, WEST BENGA...
146479  721151, Panskura-i, East Midnapore, WEST BENGA...
146480  721626, Bhagawanpur, East Midnapore, WEST BENG...
146481  721139, Panskura-i, East Midnapore, WEST BENGA...
146482  721648, Nandakumar, East Midnapore, WEST BENGA...

[146483 rows x 1 columns]

In [67]:
'''def get_latlng(df, geolocator, pincode):
    location = geolocator.geocode((df[pincode]))
    return location.raw['Latitude']['Longitude']'''

"def get_latlng(df, geolocator, pincode):\n    location = geolocator.geocode((df[pincode]))\n    return location.raw['Latitude']['Longitude']"

In [68]:
'''geolocator = geopy.Nominatim(user_agent='my-application')
zipcodes = df.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='Lat', lon_field='Lon')'''

"geolocator = geopy.Nominatim(user_agent='my-application')\nzipcodes = df.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='Lat', lon_field='Lon')"

In [69]:
import requests
from urllib.parse import urlencode

In [70]:
data_type = 'json'
endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
params = {"address" : "504273, IN", "key" : api_key}
url_params = urlencode(params)

url = f"{endpoint}?{url_params}"
print(url)

https://maps.googleapis.com/maps/api/geocode/json?address=504273%2C+IN&key=AIzaSyDiuEDivm4tp6kRQxyYkB7CdKaNXbnO6as

In [71]:
def extract_lat_lng(address, data_type = 'json'):
    endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
    params = {"address":"504273, IN"  , "key": api_key}
    url_params = urlencode(params)
    url = f"{endpoint}?{url_params}"
    r = requests.get(url)
    if r.status_code not in range(100, 299): 
        return {}
    latlng = {}
    try:
        latlng = r.json()['results'][0]['geometry']['location']
    except:
        pass
    return latlng.get("lat"), latlng.get("lng")

In [72]:
extract_lat_lng("Asifabad, Adilabad, TELANGANA, 504273, IN")

(None, None)